<div class="component">

	<header class="component__heading">
		<h1 class="component__headline--anchored">
			{{ name }}
		</h1>
		<section class="component__description">
			<p>{{ description }}</p>
		</section>
	</header>

	<section class="component__example">
		<h2 class="component__headline--inner-module">
			Example
		</h2>
		{{ markup }}
	</section>

	<section class="component__markup--layout">
		<h2 class="component__headline--inner-module">
			Markup
		</h2>

		<xmp class="component__markup">
{{ markup }}
		</xmp>
	</section>

</div>
